<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Pomiary {{ user }}</h1>
    <table>
        <thead>
            <th>data</th>
            <th>systolic</th>
            <th>diastolic</th>
        </thead>
        <tbody>
            {% for m in measurements %}
            <tr>
                <td><a href="{% url 'measurements:details' m.id %}">{{m.date}}</a></td>
                <td>{{m.systolic}}</td>
                <td>{{m.diastolic}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div>
        <form>
            <p>
                <label for="m_date">Data pomiaru</label>
                <input type="datetime-local" id="m_date" name="mes_date"> 
            </p>
            <p>
                <label for="m_systolic">Skurczowe</label>
                <input type="number" id="m_systolic" name="mes_systolic"> 
            </p>
            <p>
                <label for="m_diastolic">Rozkurczowe</label>
                <input type="number" id="m_diastolic" name="mes_diastolic"> 
            </p>
            <p>
                <input type="submit" value="send">
            </p>
        </form>

    </div>

</body>
</html>